<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>File metadata microservice</title>
</head>
<body>
    <h1>Upload file to get file size</h1>
    <form action="/" enctype="multipart/form-data" method="post">
        <input type="file" name="photo" value="">
        <input type="submit" name="upload" value="submit">
    </form>
</body>
</html>
